server:
  port: 8090
spring:
  main:
    allow-circular-references: true
  application:
    name: Server

  # MySQL数据源配置
  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: jdbc:mysql://localhost:3306/wuzhi?serverTimezone=Asia/Shanghai&useUnicode=true&characterEncoding=utf-8&zeroDateTimeBehavior=convertToNull&useSSL=false&allowPublicKeyRetrieval=true
    username: root
    password: xyx2006529
    druid:
      # 可以在这里添加 Druid 的监控、连接池等配置
      initial-size: 5
      min-idle: 5
      max-active: 20
      maxWait: 60000
      timeBetweenEvictionRunsMillis: 60000  # 空闲连接检测间隔
      minEvictableIdleTimeMillis: 300000   # 最小空闲存活时间
      testWhileIdle: true                  # 检测空闲连接有效性
      testOnBorrow: true                   # 获取连接时检测
      validationQuery: SELECT 1            # 检测SQL
      removeAbandoned: true                # 回收超时连接
      removeAbandonedTimeoutMillis: 300000 # 超时时间（5分钟）

  # OpenAI 配置
  ai:
    openai:
      api-key: sk-0352f52bdad14cb9a5e5cd921b41b968
      chat:
        base-url: https://api.deepseek.com
        api-key: sk-b3f6b75bf8e24c6ebddc713e079570e3
        options:
          #model: qwen-turbo-latest	# 模型名称
          model: deepseek-reasoner
          temperature: 1.9        # 模型温度，越大越随机
      embedding:
        base-url: https://dashscope.aliyuncs.com/compatible-mode
        options:
          model: text-embedding-v4  # 向量模型名称
          dimensions: 1024     # 向量维度
    vectorstore:
      redis:
        index-name: wuzhi_index        # 向量库的索引名（相当于数据库名）
        initialize-schema: true        # 初始化向量库索引结构
        prefix: "doc:"              # 向量库key前缀

  data:
    redis:
      host: 192.168.22.100
      port: 6379
  servlet:
    # 文件上传配置
    multipart:
      max-file-size: 100MB      # 单个文件最大大小
      max-request-size: 100MB   # 整个请求最大大小
      location: ${user.dir}/temp  # 临时文件存储目录

# MyBatis-Plus 配置
mybatis-plus:
  type-aliases-package: com.wuzhi.server.pojo.po	# 别名扫描包
  configuration:
    map-underscore-to-camel-case: true			# 下划线转驼峰映射
  global-config:
    db-config:
      logic-delete-field: data_deleted          # 指定全局逻辑删除的实体字段名
      logic-delete-value: 1                     # 逻辑已删除值（默认为1）
      logic-not-delete-value: 0                 # 逻辑未删除值（默认为0）
      id-type: assign_uuid						# 默认id生成类型：uuid
      update-strategy: not_null					# 更新策略：仅更新非空字段

# JWT 配置
jwt.config:
    access-key: 'w5vBvSBUZXh0IGZvciB0aGUgc2VjcmV0IGtleSBuZWVkIHRvIGJlIGF0IGxlYXN0IDMyIGNoYXJhY3RlcnM='
    refresh-key: 'w5vBvSBUZXh0IGZvciB0aGUgc2VjcmV0IGtleSBuZWVkIHRvIGJlIGF0IGxlYXN0IDMyIGNoYXJhY3RlcnM='
    access-ttl-millis: 3600000 # 1小时
    refresh-ttl-millis: 604800000 # 7天
    token-header: 'Authorization'
